<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Harmattan" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee|Indie+Flower|Lobster|Montserrat|Nova+Script|Open+Sans+Condensed:300|Oswald" rel="stylesheet">
  <title>Michelle Brant</title>
  </head>
  <div class="head">
  <div class="title_card">
  Michelle Brant <br>
  <hr>
  <div class="desc">
  Full Stack Developer<br>
  Running Enthusiast<br>
  && Music Addict
  </div>
  </div>
  <footer class="navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="learnmore">Learn More About What I Do</p>
      <p class="learnmore">&or;</p>
    </div>
</footer>
</div>
<!-- <nav>
<nav class="navbar-fixed-top navbar navbar-default navbar">
<p class="name">M</p>
  <ul>
    <li><%= link_to "About", "#aboutmejump" %></li>
     <li><a href="" title=""></a>Work</li>
      <li><a href="" title=""></a>Contact</li>
  </ul>
</nav> -->
<br>
<br>
<br>
<br>
<div id="aboutmejump">
<div class="row">
<div class="col-md-4">
<%= image_tag(("me.png"), :class=> 'me') %>
</div>
<div class="col-md-6">
<h1 id="aboutmebold" class="skills2">About Me</h1>
<br>
<p>Hi, I'm Michelle. I'm a web developer in New York City. </p>
<p>I have a passion for technology and creating usable and maintainable products.</p>
<p>I also have a constant urge to continue learning as much as I can, from the latest Frameworks to new languages and other technologies.</p>
<p>Some of my favorite development tools and technologies right now are React.js, Node.js, and the RaspberryPi I recently started playing with.</p>
<p>In my free time you can find my running (probably on the West Side Highway), looking for new music, or taking pictures (many of which you can find here).</p>

</div>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="skills3">
<br>
<br>
<h1 class="skills4">Full-Stack Development Skills</h1>
<h2 class="skills4">< / ></h2>
<br>
<br>
<div class="row">
<div class="col-md-6">
<h2>Front-End</h2>
<br>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8 myskills">
<p>Extensive knowledge of langauges including HTML5, CSS, Javascript and various frameworks at libraries such as Bootstrap, jQuery, React (Javascript library)</p>
</div>
</div>
<div class="col-md-2">
</div>
</div>
<div class="col-md-6">
<h2>Back-End</h2>
<br>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8 myskills">
<p>Proficient in many back-end languages and technologies including: Node.js, Express.js, PostgreSQl, Ruby on Rails and consistenly working on learning more! </p>
</div>
</div>
<div class="col-md-2">
</div>
</div>
</div>
</div>
</div>
<div class="work">
<h1 class="skills4">Portfolio</h1>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-md-6">
<div class= "tripcontainer">
<div class="description">
TravelApp
<hr>
<br>
TravelApp is a full stack Ruby on Rails app that allows users to plan and save trip details all in one place.
TavelApp allows users to search and save flights, hotels, restaurants, attractions and events using 3 APIs
(FourSquare, Amadeus and Eventful). Check it out here!
<br>
</div>
</div>
</div>
<div class="col-md-6">
<div class="foodcontainer">
<div class="description2">
NYC FoodList
<hr>
<br>
No one is quite as obsessed with find the next food craze like New Yorkers.
NYC FoodList is a full stack app built on Node.js that allows users to save lists of restaurants for future visits-
from brunch, to date spots, never be scrambling for ideas again. The app uses the FourSquare API.
<a href="https://nyc-foodlist.herokuapp.com/">Check it out here!</a>
<br>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
<div class="contact">
<h1 class="skills4"> Contact Me </h1>
<form action='/users' method='POST'>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6">
<p class="contactdetails"> Send me an email at michelle.brant18@gmail.com, shoot me a note below, or find me on any of my profiles below!</p>
</div>
<div class="col-md-3">
</div>
</div>
<form>
  <label>Name</label><br><br>
    <input name='name'><br><br>
  <label>Email</label><br><br>
    <input name='email'><br><br>
  <label>Note</label><br><br>
<%= text_area_tag(:message, " ",size: "55x5") %>
    <br><br>
  <button>Submit</button>
</form>
<div class="col-md-2">
</div>
<div class="col-md-8 logo">
<div class="col-md-4">
</div>
<div class="col-md-1">
<%= link_to image_tag("social-1_logo-github.svg"), 'https://github.com/michellebrant', :target => "_blank" %>
</div>
<div class="col-md-1">
<%= link_to image_tag("social-1_round-instagram.svg"), 'https://instagram.com/michellebrant18', :target => "_blank" %>
</div>
<div class="col-md-1">
<%= link_to image_tag("social-1_round-linkedin.svg"), 'https://www.linkedin.com/in/michellebrant', :target => "_blank" %>
</div>
<div class="col-md-1">
<%= link_to image_tag("social-1_round-twitter.svg"), 'https://twitter.com/michellebrant18', :target => "_blank" %>
</div>
<div class="col-md-4">
</div>
</div>
<div class="col-md-2">
</div>
</div>
</body>
</html>
